.sobre {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #021937;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    padding: 0px 300px 60px 300px;
}

.box {
    background-color: #101010;
    width: 450px;
    height: 450px;
    border-radius: 200px 16px 190px 115px;
}

.sobre .texts {
    color: #f3f3f3;
}

.sobre .texts h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.sobre .texts p {
    width: 500px;
    height: auto;
    font-weight: 500;
    margin-bottom: 20px;
}

.sobre .texts .tecnologias {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
}

.sobre .texts .tecnologias .html {
    background-color: #ff7d20;
    list-style: none;
    padding: 3px 8px;
    border-radius: 10px;
    box-shadow: 3px 3px 30px 2px #ff7d20;
    font-size: 15px;
}

.sobre .texts .tecnologias .css {
    background-color: #8120ff;
    list-style: none;
    padding: 3px 8px;
    border-radius: 10px;
    box-shadow: 3px 3px 30px 2px #8120ff;
    font-size: 15px;
}

.sobre .texts .tecnologias .react {
    background-color: #20a6ff;
    list-style: none;
    padding: 3px 8px;
    border-radius: 10px;
    box-shadow: 3px 3px 30px 2px #20a6ff;
    font-size: 15px;
}

.sobre .texts .tecnologias .javascript {
    background-color: #bac52b;
    list-style: none;
    padding: 3px 8px;
    border-radius: 10px;
    box-shadow: 3px 3px 30px 2px #bac52b;
    font-size: 15px;
}

.sobre .texts .tecnologias .node {
    background-color: #2ec101;
    list-style: none;
    padding: 3px 8px;
    border-radius: 10px;
    box-shadow: 3px 3px 30px 2px #2ec101;
    font-size: 15px;
}

.sobre .texts .tecnologias .angular {
    background-color: #ff2020;
    list-style: none;
    padding: 3px 8px;
    border-radius: 10px;
    box-shadow: 3px 3px 30px 2px #ff2020;
    font-size: 15px;
}

.sobre .texts .tecnologias .git {
    background-color: #ff7d20;
    list-style: none;
    padding: 3px 8px;
    border-radius: 10px;
    box-shadow: 3px 3px 30px 2px #ff7d20;
    font-size: 15px;
}

.sobre .texts button {
    background-color: #101010;
    padding: 10px 90px;
    border: none;
    border-radius: 8px;
    color: #f3f3f3;
    cursor: pointer;
    transition: all .7s ease;
}

.sobre .texts button:hover {
    background-color: #000000;
}