.header {
  position: static;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 350px 30px 300px;
  color: white;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  padding: 10px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ccc;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}