:root {
  --primary: #021937;
  --secondary: #101010;
  --logoProgramation: #1e1e1e;
  --lightBlue: #0076e4;
  --shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #101010;
    /* overflow: hidden; */
}
a {
  color: inherit;
  text-decoration: none;
}